.svgLeft1{
    position: absolute;
    top: 100px;
}
.svgLeft2{
    position: absolute;
    top: 500px;
}
.svgRight1{
    position: absolute;
    top: 100px;
    left: 700px;
}
.svgRight2{
    position: absolute;
    top: 500px;
    left: 700px;
}
.svgRight3{
    position: absolute;
    left: 1200px;
}